<div class='row'>
  <div class='col-lg-12'>
    <%= form_for(:session, url: sessions_path) do |f|%>
        Username:<br />
        <%= f.text_field :username %><br /><br />
        Password:<br />
        <%= f.password_field :password %><br /><br />
        <%= f.submit "Sign In" %>
    <% end %>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>
</div>
