<div class='row'>
  <div class='col-lg-12'>
    <%= form_for @user do |f| %>
        Username:<br />
        <%= f.text_field :username %><br />
        Password:<br />
        <%= f.password_field :password %><br />
        Password Confirmation:<br />
        <%= f.password_field :password_confirmation %><br />
        <br />
        <%= f.submit 'Create User', class: 'btn'%>
      <% end %>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@user.errors.count, "error") %>
            prohibited this user from being saved:
          </h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
</div>
