<%= form_for(@patch, as: :patch, url: user_patch_path(@user, @patch)) do |f| %>
  <% if @patch.errors.any? %>
    <h3>ERRORS:</h3>
    <ul><% @patch.errors.full_messages.each do |m| %>
        <li><%= m %></li>z
        <% end %></ul>
  <% end %>
  <%= f.file_field :file %><br /><br />
  Patch Name: <%= f.text_field :name, :value => @patch.name %><br /><br>
  Description: <%= f.text_field :description %><br /><br />
  If from a game - which one?: <%= f.text_field :game %><br /><br />
  Original?: <%= f.check_box :original %><br /><br />
  Category:   <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
        <%= b.label class:"label-checkbox" do%>
         <%=b.check_box + b.text%>
        <% end %>
        <% end %><br /><br />
  New Category:  <%= f.fields_for( :category) do |c| %>
                      <%= c.text_field :name %>
                  <% end %><br /><br />
  <%= f.submit 'Edit Patch'%>
<% end %>
