<h2><%= @patch.name %></h2>

<p><% if @patch.game != '' %>
    <%= 'FROM THE GAME: ' + @patch.game %>
    <% end %></p>

<p><% if @patch.original == true %>
    <%= 'Original Patch By User' %>
    <% end %></p>

<p><%= link_to 'Download', @patch.file.url %></p>

<p><%= link_to 'Delete', user_destroy_patch_path(@patch) %></p>
