<h2><%= @patch.name %></h2>

<p><% if @patch.game != '' %>
    <%= 'FROM THE GAME: ' + @patch.game %>
    <% end %></p>

<p><% if @patch.original == true %>
    <%= "Original Patch By " %> <%= link_to @patch.user.username, user_path(@patch.user) %>
    <% end %></p>

<p>CATEGORIES: <% @patch.categories.each do |p| %>
    <%= p.name %>
    <% end %></p>

<p><%= link_to 'Download', @patch.file.url %></p>

<p><% if session[:user_id] == @patch.user.id %>
<%= link_to 'Edit', edit_user_patch_path(@patch.user, @patch) %>
<% end %></p>

<p><% if session[:user_id] == @patch.user.id %>
  <%= link_to 'Delete', user_destroy_patch_path(@patch.user, @patch) %>
  <% end %></p>
