<h2><%= @patch.name %></h2>

<p><% if @patch.game != '' %>
      <%= 'FROM THE GAME: ' + @patch.game %>
    <% end %></p>

<p><% if @patch.original == true %>
      <%= "Original Patch By " %> <%= link_to @patch.user.username, user_path(@patch.user) %>
    <% end %></p>

<p><% if @patch.description != '' %>
      <%= "Description: " + @patch.description %>
    <% end %></p>

<p>CATEGORIES: <% @patch.categories.each do |p| %>
                  <%= p.name %>
                <% end %></p>

<p><%= link_to 'Download', @patch.file.url %></p>

<p><% if current_user == @patch.user %>
      <%= link_to 'Edit', edit_user_patch_path(@patch.user, @patch) %>
    <% end %></p>

<p><% if current_user == @patch.user %>
      <%= link_to 'Delete', user_destroy_patch_path(@patch.user, @patch) %>
    <% end %></p>

  <%= form_tag("#", id: "newComment", :"data-userid" => current_user.id, :"data-patchid" => @patch.id) do %>
    <%= text_field_tag(:comment_content) %>
    <%= submit_tag("Post Comment") %>
  <% end %>

  <script>
  $(document).ready(
    $('#newComment').submit( function (e){
    const userid = $(this)[0].attributes[1].value
    const patchid = $(this)[0].attributes[2].value
    const content = $('#comment_content').val()
    const token = $(this)[0][1].attributes[2]

    let data = { user_id: `${userid}`,
                 patch_id: `${patchid}`,
                 content: `${content}`}

    $.ajax({
      type: "POST",
      authenticity_token: token,
      url: "/comments",
      data: data,
      dataType: "json"
    })
    .done(function(resp) {
       debugger
     })

    event.preventDefault() })
  );
  </script>
