<h2><%= @patch.name %></h2>

<p><% if @patch.game != '' %>
      <%= 'FROM THE GAME: ' + @patch.game %>
    <% end %></p>

<p><% if @patch.original == true %>
      <%= "Original Patch By " %> <%= link_to @patch.user.username, user_path(@patch.user) %>
    <% end %></p>

<p><% if @patch.description != '' %>
      <%= "Description: " + @patch.description %>
    <% end %></p>

<p>CATEGORIES: <% @patch.categories.each do |p| %>
                  <%= p.name %>
                <% end %></p>

<p><%= link_to 'Download', @patch.file.url %></p>

<p><% if current_user == @patch.user %>
      <%= link_to 'Edit', edit_user_patch_path(@patch.user, @patch) %>
    <% end %></p>

<p><% if current_user == @patch.user %>
      <%= link_to 'Delete', user_destroy_patch_path(@patch.user, @patch) %>
    <% end %></p>

<%= form_tag("#", method: 'post', id: "newComment", :"data-userid" => current_user.id, :"data-patchid" => @patch.id, :"username" => current_user.username) do %>
  <%= text_field_tag(:comment_content) %>
  <%= submit_tag("Post Comment", :"data-disable-with" => false) %>
<% end %>

<div id="comments"></div>

<script>


  $(document).ready(function (){

    let COMMENTS = []

    class Comment {
      constructor(content, userid, patchid, username) {
        this.content = content
        this.userid = userid
        this.patchid = patchid
        this.username = username

        COMMENTS.push(this)
      }

      makeJson(){
        return { comment: {user_id: `${this.userid}`, patch_id: `${this.patchid}`, content: `${this.content}`, username: `${this.username}`} }
      }

      createDiv(content, username) {
        return `<div class="comment"><p>${content}</p><p>Posted By: ${username}</p>`
      }
    }



    $('#newComment').submit( function (e){
      e.preventDefault()

      let newComment = new Comment($('#comment_content').val(), this.attributes[1].value, this.attributes[2].value, this.attributes[3].value)
      let token = this[2].value
      let data = newComment.makeJson()

      $.ajax({
        type: "POST",
        url: '/comments',
        data: data,
        authenticity_token: token,
        dataType: "json"
        })
      .done(function(resp) {
        $('#comments').append( () => newComment.createDiv(resp.content, resp.username))
        $('input#comment_content')[0].value = ''
       })
     })


     $.ajax({
       type: "GET",
       url: window.location.pathname,
       dataType: "json"
      }).done(function(resp){
        $('#comments').empty()
       resp.comments.forEach(function(value, index){
           let comment = new Comment(value.content, value.patch_id, value.user_id, value.username)
           $('#comments').append(comment.createDiv(comment.content, comment.username))
       })
     })
  });
</script>
