<!DOCTYPE html>
<html>
  <head>
    <title>PatchUploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/"><div id='header'><h1>DEFLEMASK PATCH SHARE</h1></div></a>
    <div id='logout'><h2><%= link_to "LOG OUT", logout_path if logged_in? %></h2></div>
    <%= yield %>
  </body>
</html>
