<!DOCTYPE html>
<html>
  <head>
    <title>Patch Shair Dot COM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
    <div class='row'>
      <div class='col-xl-12'>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <%= link_to 'View Patches', patches_path, class: "nav-item, nav-link" %>
            <%= link_to 'View Categories', categories_path, class: "nav-item, nav-link" %>
            <%= link_to 'User Profiles', users_path, class: "nav-item, nav-link" %>
            <%= link_to 'My Profile', user_path(User.find(session[:user_id])), class: "nav-item, nav-link" if logged_in? %>
            <%= link_to "Log Out", logout_path, class: "nav-item, nav-link" if logged_in? %>
          </div>
        </div>
      </nav>
    </div>

    <div class='col-sm-12'>
     <a href="/"><%= image_tag 'logo.png', class: 'img-fluid' %></a>
    </div>
    </div>
    <%= yield %>
    </div>
  </body>
</html>
